* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	background-color: rgb(87, 3, 3);
}

a {
	color: #333;
	text-decoration: none;
}

.container {
	padding: 0 10rem;
	/* background-color: rgb(87, 3, 3); */
}

.btn {
	display: inline-block;
	border: none;
	background: rgb(255, 0, 0);
	color: #fff;
	padding: 7px 20px;
	cursor: pointer;
}

.btn:hover {
	background: rgb(48, 47, 47);
}
